button {
    background-color: black;
    color: white;
    height: 30px;
    font-size: 18px;
    margin-left: 48%;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.message {
display: flex;
justify-content: center;
color: wheat;
}